* {
  box-sizing: border-box;
}

  body{
 padding: 10px;
  background: #87CEEB;

    margin-left:0%;
    font-family: Arial, Helvetica, sans-serif;
    }

.first {
  width:150px;
  height:60px;
  font-size:30px;
 margin-top:0%;
color: #ffffff;
border-bottom: 5px solid white;
border-right: 2px solid white;
border-left: 2px solid white;
border-top: 2px solid rgb(255, 255, 255);
border-top-left-radius: 30px;
border-top-right-radius: 6px;
padding: 10px;
background-color: #01021a;

    }


    
/* nav-bar links*/
.nav-link {
  color:rgb(255, 255, 255);
}
.nav-link:hover{
  color: rgb(1, 225, 255);
}



    div.top {
    overflow:hidden;
    background-color:#333;
height: 70px;

    }
    .top a{
    float:left;
    color:#f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    .top a:hover{
    background-color:#ddd;
    color:black;
    height:70px;
    }
    .top a.active{
    background-color:#04AA6D;
    color:white;
    height: 70px;
    }
    .Redu{
    width:100%;
    max-height:300px;
    
    }
    .cont {
    position: relative;
    text-align:center;
    background-image: url(mainbackground.jpg);
    top:0;
   
    }
    .top-left {
    position: absolute;
   top:40px;

    left: 16px;
    }
.center {
   position: absolute;
     top:200px;
   margin-left:10%;
   font-size:30px;
   color:#072307;
   font-weight: bold;
   font-family: georgia,  serif;
   background-color:#ddd;
  
   }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #87CEEB;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#plus  {

height: 40px;
width: 50px;
cursor: pointer;
position: fixed;
margin-left:1%;
margin-top:10px;
color: tomato; 
font-size:30px;
z-index: 1;

}

.sticky {
position: fixed;
margin-left: 1%;
color: tomato;
}

.text {
width:100%;

border:1px solid blue;
}


/* Footer */
.footer {
  position: fixed;
  border-top:3.2px solid #87CEEB;
 left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

/* Style the footer navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the fotter links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*content page*/
#main{

  background-image: url(mainbackground.jpg);
  background-size: 100%;
  margin-bottom: 60px;
  width:100%;
  height:310000px;
border-top:3.2px solid #87CEEB;

  overflow: hidden
 
}


/* SUB1 HTML CSS*/
.modal-header {
padding: 0;
}
.modal-header .close {
padding: 10px 15px;
}
.modal-header ul {
border: none;
}
.modal-header ul li {
margin: 0;
}
.modal-header ul li a {
border: none;
border-radius: 0;
}
.modal-header ul li.active a {
color: #e12f27;
}
.modal-header ul li a:hover {
border: none;
}
.modal-header ul li a span {
margin-left: 10px;
}
.modal-body .form-group {
margin-bottom: 10px;
}

.sub1 a{
color: #ddd;
text-decoration: none;
text-align: center;
margin-left: 2%;
opacity: 0.8;
font-size: 16px;
}
.sub1 a:hover{
color: white;
opacity: 1;
background-color:red;
font-size: 20px;
}

/* login css*/
.modal-header {
padding: 0;
}
.modal-header .close {
padding: 10px 15px;
}
.modal-header ul {
border: none;
}
.modal-header ul li {
margin: 0;
}
.modal-header ul li a {
border: none;
border-radius: 0;
}
.modal-header ul li.active a {
color: #e12f27;
}
.modal-header ul li a:hover {
border: none;
}
.modal-header ul li a span {
margin-left: 10px;
}
.modal-body .form-group {
margin-bottom: 10px;
}
 /* content of main */
 .col-xs-12{
  border: 01px ridge rgb(161, 160, 160);
  background-color: rgba(255, 255,255, 1);
    font-size:15px;
    
 }
 .option{
  border: 01px ridge rgb(161, 160, 160);
  background-color: rgba(255, 255,255, 1);
    font-size:15px;
    margin-top: 5px ;
    text-align: left;
  
 }


 /* Clock css */
 #start{
  color:white; background-color: rgb(60, 60, 154);font-size:26px ; width:25%; border: 1px solid rgb(224, 187, 187);border-radius: 10px;
}
#start:hover{
  color: white;
  background-color: rgb(236, 97, 120);
}
#seconds {
font-size: 3em;


}

#minutes {
font-size: 3em;
}

#hours {
font-size: 3em;
}

#colon1 {
font-size: 3em;

}

#colon {
font-size: 3em;

}

/* DIRECTIONS*/
#direction {
margin: 5px;background-color: red;color: white;border-radius: 5px; border: 1px solid red; font-size: 14px;text-align: center;
}



/* media tags*/
#Strategy{
width: 100%;
height: 15%;
}
@media only screen and (min-width: 600px) {

.Redu {

max-height:500px;
}
#Strategy {
  max-height:600px;
}

.details {
text-align: center;

}


}
@media only screen and (max-width: 600px) {

.first {
font-size: 15px;
}

}
